.tern-port
ctags
.orig
.swo
.swp
ctags
.DS_Store
.rake_tasks
.dump.rdb
dump.rdb
npm-debug.log
public/new_sitemaps
vim-markdown-preview.html
tags
.idea
.passwords.dev
.vscode/
tags.temp
tags.lock


config/initializers/postgresql_adapter_monkeypatch.rb
